root = true

[*]
end_of_line = lf
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true

[Makefile]
indent_style = tab
indent_size = 4
insert_final_newline = false

[Dockerfile]
indent_style = space
indent_size = 4
insert_final_newline = false

[*.{js,jsx,ts,tsx,re}]
indent_style = space
indent_size = 2

[*.coffee]
indent_style = space
indent_size = 4

[*.{json,babelrc}]
indent_style = space
indent_size = 2
insert_final_newline = false

[*.yml]
indent_style = space
indent_size = 4
insert_final_newline = false

[*.md]
indent_style = space
indent_size = 4
