include ../mixins/index.pug

doctype html
html(
  lang= htmlWebpackPlugin.options.lang || "en"
  prefix= htmlWebpackPlugin.options.seo ? "og: http://ogp.me/ns#" : null
  )
  //- HTML HEADER
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

    title= htmlWebpackPlugin.options.title

    //- SEO
    if htmlWebpackPlugin.options.seo
      +seo(htmlWebpackPlugin.options.seo)

    //- Icons
    if htmlWebpackPlugin.options.icons
      +icon(htmlWebpackPlugin.options.icons)

    block head
  body
    block content

    //- Counters
    if htmlWebpackPlugin.options.counters
      +counter(htmlWebpackPlugin.options.counters)

