/*!
 * Copyright (C) 2017-2022 Aleksandr Krivoshchekov <SuperPaintmanDeveloper@gmail.com>
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

$font-main = "Roboto"

/* Colors */
$color-black = #000000 // #1B2229
$color-white = #FFFFFF // #DFDFDF
$color-grey = #3F444A
$color-red = #FF6C6B
$color-orange = #DA8548
$color-yellow = #ECBE7B
$color-green = #98C379
$color-teal = #51AFEF
$color-cyan = #46D9FF
$color-blue = #51AFEF
$color-magenta = #C678DD
$color-violet = #A9A1E1

/* Abstract */
