/* Constants */
$font_main              = "Roboto"

$content_width          = 512px
$content_margin_top     = 152px
$content_mobile_margin  = 12px


$card_icon_size         = 32px
$card_icon_margin       = 8px

$screen_sm_max          = 480px
$screen_md_max          = 992px
$screen_lg_max          = 1200px
$screen_content_max     = $content_width + $content_mobile_margin * 2

$color_white            = #ffffff
$color_light_grey       = #fafafa
$color_grey             = #f3f3f3
$color_dark_grey        = #4d4d4d
$color_black            = #1a1a1a

$color_main_bg          = #333333
$color_main_fg          = $color_white

$color_link_fg          = #4A89DC

$color_habrahabr_bg     = #78a3b6
$color_habrahabr_fg     = #ffffff

$color_twitter_bg       = #1b95e0
$color_twitter_fg       = #ffffff

$color_vkontakte_bg     = #507299
$color_vkontakte_fg     = #ffffff

$color_npm_bg           = #c12127
$color_npm_fg           = #ffffff

$color_docker_hub_bg    = #ffffff
$color_docker_hub_fg    = #22354c

$color_headhunter_bg    = #d71920
$color_headhunter_fg    = #ffffff

$color_linkedin_bg      = #0077b5
$color_linkedin_fg      = #ffffff

$color_email_bg         = #fab013
$color_email_fg         = #ffffff

$color_telegram_bg      = #299ed8
$color_telegram_fg      = #ffffff

$color_instagram_bg     = #299ed8
$color_instagram_fg     = #ffffff

/* Abstract */
$block-shadow
  box-shadow: 0 2px 4px rgba($color_black, 0.3)

$block-shadow-small
  box-shadow: 0px 0px 1px rgba($color_black, 0.1)
